@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Oswald:wght@300;400;500;600;700&family=Overpass:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100%;
  min-height: 100vh;
}
.bg-sec {
  background-color: #fef2f2;
}
.shrd-btn {
  border: 2px solid #3b5999;
  border-radius: 70px;
  padding: 10px 30px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: #3b5999;
  outline: none;
  &:hover {
    opacity: 0.7;
    color: #ffffff;
  }
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/image 1.png");
  background-size: cover;
  min-height: 50vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .nav-brand {
      font-family: "Nunito Sans", sans-serif;
      font-size: 30px;
      font-weight: 600;
      color: #ffffff;
    }
    #navbarNavDropdown {
      justify-content: flex-end;
      text-transform: uppercase;
      .nav-item {
        .nav-link {
          font-family: "Overpass", sans-serif;
          font-style: normal;
          opacity: 0.6;
          color: #fff;
          font-weight: 600;
          hr {
            width: 70%;
            max-width: 32px;
            height: 2px;
            margin: 0;
            background: #3b5999;
            display: none;
          }
        }
        &.active {
          .nav-link {
            opacity: 1;
            hr {
              display: block;
            }
          }
        }
        &:hover {
          .nav-link {
            opacity: 0.8;
            hr {
              display: block;
            }
          }
        }
      }
    }
  }
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {
      margin-bottom: 59px;
    }
  }
  .main-header {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 0.09em;
    margin-bottom: 1.4rem;
    .art {
      color: #385999;
    }
  }
  .main-description {
    font-size: 13px;
    color: #d1d1d1;
    margin-bottom: 1.4rem;
  }
  .button-container {
    .shrd-btn {
      margin-right: 10px;
      &.contact-me {
        background: #3b5999;
      }
      &.learn-more {
        background: transparent;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.about-me {
  padding: 24px 0;
  min-height: 50vh;
  .container {
    .contents {
      display: flex;
      flex-wrap: wrap;
      .col-12 {
        align-items: center;
        display: flex;
      }
      .text-content {
        font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        .about-header {
          font-size: 30px;
          font-weight: 600;
          span {
            margin-bottom: 0.8rem;
          }
        }
        p {
          font-size: 14px;
          letter-spacing: 0.02em;
          color: #656565;
        }
      }
    }
  }
}
.what-i-do {
  padding: 24px 0;
  .container {
    .what-header {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 2rem;
      span {
        margin-bottom: 0.8rem;
      }
    }
    .contents {
      display: flex;
      flex-wrap: wrap;
      .card-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        background-color: #fff;
        padding: 60px 15px 15px;
        height: 100%;
        .vector {
          justify-content: center;
          position: absolute;
          background-color: #fef2f2;
          border-radius: 50%;
          padding: 10px;
          top: -50px;
          left: calc(50% - 50px);
          height: 90px;
          width: 90px;
          display: flex;
          align-content: center;
          img {
            width: 26px;
          }
        }
        .movetext {
          color: #656565;
          h5 {
            font-family: "Nunito Sans", sans-serif;
            font-size: 20px;
            line-height: 38px;
            letter-spacing: 0.025em;
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.how-it-works {
  .container {
    .works-header {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 1.5rem;
      span {
        margin-bottom: 0.8rem;
      }
    }
    .row {
      .col-12 {
        padding-left: 8px;
        padding-right: 8px;
      }
      .section {
        padding: 2rem;
        height: 100%;
        .numberandtext {
          margin-bottom: 1rem;
          .number {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            color: #fff;
            &.one {
              background-color: #ff7f7d;
            }
            &.two {
              background-color: #feab1d;
            }
            &.three {
              background-color: #56d3d5;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
            h4 {
              margin: 0;
              font-size: 18px;
              font-weight: 600;
            }
          }
          h5 {
            margin: 0;
            display: flex;
            align-items: center;
          }
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
.news-feed {
  padding-top: 16px;
  .container {
    .news-header {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 1.5rem;
      span {
        margin-bottom: 0.8rem;
      }
    }
    .selectallsection {
      .row {
        .nextsection {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          display: flex;
          flex-direction: column;
          height: 100%;
          img {
          }
          .contents {
            padding: 1.5rem;
            .icons {
              display: flex;
              justify-content: space-between;
              span {
                font-size: 12px;
                letter-spacing: 0.05em;
                color: #9f9999;
                display: flex;
                align-items: center;
                img {
                  margin-right: 0.5rem;
                }
              }
              margin-bottom: 1rem;
            }
            .content {
              h4 {
                font-weight: 600;
                font-size: 17px;
                color: #656565;
              }
              p {
                font-size: 14px;
              }
              margin-bottom: 1rem;
            }
            .tags {
              button {
                background: #3b5999;
                color: #fff;
                border: none;
                width: 32%;
                padding: 10px 15px;
                font-weight: 600;
                font-size: 14px;
                &:hover {
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }
    }
  }
}
.get-in-touch {
  .container {
    .touch-header {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 2rem;
      span {
        margin-bottom: 0.8rem;
      }
    }
    .form {
      .col {
        padding: 5px;
      }
      input,
      select {
        background: white;
        border: none;
        outline: none;
        padding: 0 15px;
        height: 50px;
        font-size: 18px;
        width: 100%;
        &::-webkit-input-placeholder,
        &::-ms-input-placeholder,
        &:-ms-input-placeholder {
          letter-spacing: 0.02em;
          color: #b5b3b3;
          font-size: 15px;
        }
      }
      textarea{
        width: 100%;
      }
    }
    .contact-connect{
      color: #fff;
      .address{
        background:  linear-gradient(rgba(13, 18, 30, 0.89), rgba(13, 18, 30, 0.89)), url('/images/image\ 16.png');
     background-repeat: no-repeat;
     background-size: cover;
     padding: 3rem 2rem;
      }
      .phone{
        background: rgba(3, 14, 38, 0.89);
        padding: 3rem 2rem;
      }
    }
  }
}
